# Temp files
*~
*.swp
*.bak
*.backup
\#*
.\#*
*\#
*.sav
*.save
*.autosav
*.autosave

# Archives
*.zip
*.tar.*
*.tgz
*.gz
*.bz2
*.xz
*.lz
*.lzma
*.7z
*.dll
*.deb
*.rpm
*.apk
*.exe
*.msi
*.dmg
*.ipa

/build
/bin
/Debug
/Release
/*/Debug
/*/Release